@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

body {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    height: var(--ifm-scrollbar-size);
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ifm-scrollbar-thumb-background-color);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--ifm-scrollbar-track-background-color);
    border-radius: 10px;
  }

  .navbar__logo img {
    border-radius: 3px;
  }
}
